body{
    padding: 0;
    margin: 0;
    background-color:#163020;
}

.Heading
{
    font-family: "Madimi One", sans-serif;
    color: aliceblue;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
}

.Card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

.Input
{
  border: 1px solid rgba(252, 252, 252, 0.4);
   background-color: rgba(252, 252, 252, 0.2);
  width: 200px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 9px 15px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
    
}

.Button
{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(43, 43, 43, 0.2);
    width: 350px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;   
}

.Button:hover{
background-color: #418359;
}

.label
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.bmi
{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.message
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.form
{
 
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
         
}